<div class="center jumbotron">
  <h1>Welcome to RateMyCharm</h1>

  <h2>
    A Quest for finding out the most popular stud and diva of <a href="http://nitmeghalaya.in/nitm_web/index.php">NIT MEGHALAYA</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
