<h1 class="d3">LEFT OR RIGHT</h1>
<div style="height: 510px;">
<%= link_to image_tag(@users[0].picture.url, alt: @users[0].name, class: "img-responsive display", size: 500) , {:controller => :voting, :action => :vote_for, :id_voted => @users[0].id, :id_not_voted => @users[1].id }%>

<span style="font-size: 2.0em ;position: absolute; top: 50%; left: 48%; font-weight: 200;"> OR </span>

<%= link_to image_tag(@users[1].picture.url, alt: @users[1].name, class: "img-responsive display1", size: 500) , {:controller => :voting, :action => :vote_for, :id_voted => @users[1].id, :id_not_voted => @users[0].id }%>
</div>